section {
    color: white;
    height: 75vh; 
  }

#section1 {
    background-color: rgba(128, 128, 128, 0.8);
    padding: 30px;
    border-radius: 50px;
  }

#section2 {
    background-color: rgba(128, 128, 128, 0.8);
    padding: 30px;
    border-radius: 50px;
  }

#section3 {
    background-color: rgba(128, 128, 128, 0.8);
    padding: 30px;
    border-radius: 50px;
  }

#section4 {
    background-color: rgba(128, 128, 128, 0.8);
    padding: 30px;
    border-radius: 50px;
  }
 
.ebnav ul {
    list-style-type: none;
  }
  
.ebnav li {
    display: block;
    margin-right: 10px;
  }
  
.ebnav li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 10px;
  }
  
.ebnav li a:hover {
    background-color: #165fb3;
    color: white;
  }
  
.ebnav li a.active {
    background-color: #165fb3;
    color: white;
  }

html {
    scroll-behavior: smooth;
  }
.image-container img {
  margin-right: 30px; 
}

.image-container1 img {
    display: flex;
    justify-content: center;
    margin-right: 50px; 
  }
